<div style="margin-top: 120px">
    <p-sidebar 
        position="top" 
        [modal]="false" 
        [(visible)]="isVisible"
        [showCloseIcon]="false"
    >
        <div class="flex flex-row justify-content-between flex-wrap">
            <div class="flex flex-row justify-content-between" style="width: 270px">
                <p-autoComplete 
                    [placeholder]="'Search...'"
                    [minLength]="3" 
                    [suggestions]="events" 
                    field="title" 
                    (completeMethod)="filterByName($event)"
                ></p-autoComplete>
                <p-button 
                    icon="pi pi-times" 
                    severity="danger" 
                    (click)="reset()"
                ></p-button>
            </div>
            <p-button 
                class="flex" 
                icon="pi pi-shopping-cart" 
                [routerLink]="'/cart'"
            ></p-button>
        </div> 
    </p-sidebar>
    <p-dataView #dv [value]="events" layout="list">
        <ng-template pTemplate="list" let-events>
            <div class="grid grid-nogutter">
                <div class="col-12" *ngFor="let event of events; let first = first">
                    <div 
                        class="flex flex-column xl:flex-row xl:align-items-start p-4 gap-4" 
                        [ngClass]="{ 'border-top-1 surface-border': !first }"
                    >
                        <img 
                            *ngIf="!event.flyerFront" 
                            class="w-9 sm:w-16rem xl:w-10rem shadow-2 block xl:block mx-auto border-round" 
                            src="https://upload.wikimedia.org/wikipedia/commons/6/65/No-Image-Placeholder.svg" 
                            [alt]="event.name" 
                        />
                        <img 
                            *ngIf="event.flyerFront" 
                            class="w-9 sm:w-16rem xl:w-10rem shadow-2 block xl:block mx-auto border-round" 
                            [src]="event.flyerFront" 
                            [alt]="event.name" 
                        />
                        <div class="flex flex-column sm:flex-row justify-content-between align-items-center xl:align-items-start flex-1 gap-4">
                            <div class="flex flex-column align-items-center sm:align-items-start gap-3">
                                <div class="text-2xl font-bold text-900">{{ event.title }}</div>
                                <div class="flex align-items-center gap-3">
                                    <span class="flex align-items-center gap-2" *ngFor="let artist of event.artists">
                                        <i class="pi pi-star"></i>
                                        <span class="font-semibold">{{ artist.name }}</span>
                                    </span>
                                </div>
                                <div class="flex align-items-center gap-3">
                                    <span class="flex align-items-center gap-2">
                                        <i class="pi pi-calendar"></i>
                                        <span class="font-semibold">{{ event.date | date }}</span>
                                    </span>
                                </div>
                                <div class="flex align-items-center gap-3" style="cursor: pointer">
                                    <span class="flex align-items-center gap-2" (click)="openLink(event)">
                                        <i class="pi pi-map-marker"></i>
                                        <span 
                                            class="font-semibold"
                                        >
                                        {{ event.venue.name }}, {{ event.city  | titlecase  }}
                                        </span>
                                    </span>
                                </div>
                                <div class="flex align-items-center gap-3">
                                    <span class="flex align-items-center gap-2">
                                        <i class="pi pi-users"></i>
                                        <span class="font-semibold">{{ event.attending + ' Attending' }}</span>
                                    </span> <!-- todo p tag -->
                                    <p-tag *ngIf="event.private" value="Private" severity="danger"></p-tag>
                                </div>
                            </div>
                            <div class="flex sm:flex-column align-items-center sm:align-items-end gap-3 sm:gap-2">
                                <button 
                                    pButton icon="pi pi-cart-plus" 
                                    class="md:align-self-end mb-2 p-button-rounded" 
                                    (click)="moveToCart(event)"
                                ></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-dataView>
</div>
